.Col {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(620px, 1fr));
  margin-bottom: 20px;
}
.Job {
  margin-top: 2%;
  margin-left: auto;
  margin-right: auto;
  opacity: 0.9;
}
.titulo {
  background-color: #242727;
  font-size: 16px;
  font-style: oblique;
  color: aliceblue;
}

.cortar {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  display: -moz-box;
  -webkit-box-orient: vertical;
  -moz-box-orient: vertical;
  box-orient: vertical;
  -webkit-line-clamp: 2;
  line-clamp: 2;
}
.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  transition: 0.3s;
  border-radius: 5px;
  text-align: center;
}

.card:hover {
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}

@media (max-width: 400px) {
  .Col {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    margin-bottom: 20px;
  }
}
