.Job {
  margin-top: 2%;
  margin-left: auto;
  margin-right: auto;
  min-width: 50vh;
  opacity: 0.9;
}
.titulo {
  background-color: #474e4d;
  font-size: 16px;
  font-style: oblique;
  color: aliceblue;
}

.cortar {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  display: -moz-box;
  -webkit-box-orient: vertical;
  -moz-box-orient: vertical;
  box-orient: vertical;
  -webkit-line-clamp: 2;
  line-clamp: 2;
}
.Job:hover {
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}
