.Post{
    width: 50%;
    margin-top:8%;
    margin-left: auto;
    margin-bottom: 2%;
    margin-right: auto;
    padding:2% 2% 2% 2% ;
    opacity: 0.95;
  color: aliceblue;
  background-color: #474E4D;
}