.code-error {
  font-size: 60px;
}
.msg-error {
  font-size: 20px;
}

.error404 {
  margin-top: 8%;
  width: 40%;
  display: grid;
  place-items: center;
}
.error404 a{
  font-size: 35px;
}
.cont-404 {
  display: grid;
  place-items: center;
}

@media (max-width: 700px) {
    .error404 {
        width: 100%;
        margin-top: 18%;
        display: grid;
        place-items: center;
      }
      .code-error {
        font-size: 30px;
        font-weight: bold;
      }
      .msg-error {
        font-size: 15px;
      }
      .error404 a{
        font-size: 20px;
      }
}
@media (max-width: 500px) {
  .error404 {
      margin-top: 30%;
    }
}
.img-error{
  width: 90%;
}
